[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
